<div class="container">

  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li> 
    </ul>
  

  <div class="add-members-container">
    <input 
      #addMemberInput 
      type="text"
      placeholder="Name" 
      (input)="onInput(addMemberInput.value)"
      [value]="newMemberName"
    >
    <button (click)="addMember()">Add</button>
  </div>

  <div class="input-container">
    <input
    #numOfTeamsInput 
    type="text" 
    placeholder="# of teams"
    (input)="onNumOfTeamsInput(numOfTeamsInput.value)"
    [value]="numOfTeams"
    >
    <button (click)="generateTeams()">Generate</button>
  </div>

  <!-- ▼ if errMessage is true, return error message -->
  <p *ngIf="errMessage" class="error-msg">{{ errMessage }}</p>
  </div>

  <!--   ▼ shows only if teams.length > 0 -->
  <div *ngIf="teams.length" class="teams-container">
    <app-team 
    *ngFor="let team of teams; let i = index"
    [team]="team"
    [index]="i"
    >
    </app-team>
  </div>
</div>